* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
h1{
    font-family: "SmackLaidethDown2024", sans-serif;
    font-size: 300%;
}
form {
    background-color: rgba(51, 50, 50, 0.863);
    
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    
}
input{
    border: 0.5px solid black;
    margin: 3px;
    background-color: rgba(126, 122, 122, 0.863);
}

button{
    height: 100%;
    width: 100%;
}

body h1{
    text-align: center;
}
body{
    background-color: rgb(90, 89, 89, 0.3);
}
