@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.derick {
    height: 60%;
    width: 60%;
}

.cr7marcamessi {
    width: 300px;
    height: 200px;
    border-radius: 20%;

}
button {
    background-color: brown;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin-top: 20px;
}
.cristiano {
    height: 60%;
    width: 60%;
}
h2 img{
    width: 30px;
}

/* .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 205vh;
    left: 30vh;
}

.criadores {
    display: flex;
    position: absolute;
    height: 4vh;
    left: 2vh;
} */